{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {%include 'admins/partials/_dashboard_nav.html' %}
    <a href="{% url 'provider-detail' object.provider_id %}" class="btn btn-primary">Back to Provider</a>
    <a href="{% url 'provider-delete' object.provider_id %}" class="btn btn-outline-danger">Delete Provider</a>
    <h3>Edit Provider Information</h3>
    <div class="content-section">
        <div class="media">
            <img src="{{ object.image.url }}" width="200px" height="200px">
        </div>
        <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Store Info</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}