{% extends "base.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Add Message to Wishlist</legend>
                <textarea id="w-message" name="w-message" rows="4">Type your message here.. </textarea>
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-primary" type = "submit">Download PDF</button>
                <a class = "btn btn-outline-secondary" href = "{% url 'wishlist' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}