{% extends "base.html" %}
{% load social_share %}
{% block content %}
    {% if own %}
        {% post_to_facebook object 'Post on Facebook' %}
        {% post_to_twitter "{{ object.user.username }}'s Compee Wishlist" object 'Post on Twitter' %}
    {% endif %}
    <h1>{{ object.user.username }}'s Wishlist</h1>
    <p>{{ object.note }}</p>
    {% if items %}
        <table border="1">
            <thead>
                <th></th>
                <th>Item</th>
                <th>Price</th>
                <th>Vendor</th>
            </thead>
            <tbody> 
                {% for item in items %}
                <tr>
                    {% if item.product %}
                        <td><img src="{{item.product.image.url}}" width="100%" height="200px"></td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.product.vendor.store_name}}</td>
                        <td><a href="{% url 'vendor-product' item.product.slug %}">Go to Product</a></td>
                    {% else %}
                        <td><img src="{{item.service.image.url}}" width="100%" height="200px"></td>
                        <td>{{item.service.name}}</td>
                        <td>{{item.service.price}}</td>
                        <td>{{item.service.provider.store_name}}</td>
                        <td><a href="{% url 'service-product' item.service.slug %}">Go to Service</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>This person has nothing in their wishlist!</h3>
    {% endif %}
{% endblock content %}