<html>
    <head>
        <title>{{ user }}'s Wishlist</title>
    </head>
    <body>
        <p>{{note}}</p>
        {% if items %}
        <table border="1">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Vendor</th>
            </thead>
            <tbody> 
                {% for item in items %}
                <tr>
                    {% if item.product %}
                        <td><img src="{{ item.product.image.url|slice:'1:' }}" width="100%" height="200px"></td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.product.vendor.store_name}}</td>
                    {% else %}
                        <td><img src="{{item.service.image.url|slice:'1:' }}" width="100%" height="200px"></td>
                        <td>{{item.service.name}}</td>
                        <td>{{item.service.price}}</td>
                        <td>{{item.service.provider.store_name}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
         <p>Your wishlist is empty!</p>
        {% endif%}
    </body>
</html>