{% extends "base.html" %}
{% block content %}
    {% if items %}
        <a href="{% url 'share-wishlist' %}" class="btn btn-primary">Share my wishlist..</a>
        <a href="#" class="btn btn-primary">Share to Facebook</a>
        <a href="#" class="btn btn-primary">Share to Twitter</a>
        <table border="1">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Vendor</th>
            </thead>
            <tbody> 
                {% for item in items %}
                <tr>
                    {% if item.product %}
                        <td><img src="{{item.product.image.url}}" width="100%" height="200px"></td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.product.vendor.store_name}}</td>
                        <td><a href="{% url 'vendor-product' item.product.slug %}">Go to Product</a></td>
                    {% else %}
                        <td><img src="{{item.service.image.url}}" width="100%" height="200px"></td>
                        <td>{{item.service.name}}</td>
                        <td>{{item.service.price}}</td>
                        <td>{{item.service.provider.store_name}}</td>
                        <td><a href="{% url 'service-product' item.service.slug %}">Go to Service</a></td>
                    {% endif %}
                    <td><a href="{% url 'wishlist-remove' item.id %}">x</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%include 'admins/partials/_paginate.html' %}
    {% else %}
        <h3>You have nothing in your wishlist!</h3>
    {% endif %}
{% endblock content %}