{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/login.css' %}">
{% endblock stylesheets %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<legend class="col-mb-4">Reset Password</legend>
		<div class="login-container">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-blue" type="submit">Change Password</button>
			</div>
		</form>
		</div>
	</div>
    	
    	
{% endblock content %}