{% load static %}
<div class="footer-content container d-flex justify-content-between align-items-start">
    <div class="customer-service">
        <span>customer service</span>
        <ul>
            <li>
                <a href="">Compee Cares</a>
            </li>
            <li>
                <a href="">How to Buy</a>
            </li>
            <li>
                <a href="">Shipping & Delivery</a>
            </li>
            <li>
                <a href="">How to Return</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="about-compee">
        <span>about compee</span>
        <ul>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Terms & Conditions</a>
            </li>
            <li>
                <a href="">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="payment-methods">
        <span>payment methods</span>
        <ul>
            <li>Cash on Delivery</li>
            <li class="online-payment d-flex">
                <img src="{% static 'img/logos/PayMaya.png'%}" alt="PayMaya">
                <img src="{% static 'img/logos/GCash.jpeg'%}" alt="GCash">
            </li>
        </ul>
    </div>
    <div class="delivery-services">
        <span>delivery services</span>
        <ul>
            <li class="delivery-container d-flex">
                <img src="https://via.placeholder.com/150" alt="placeholder">
                <img src="https://via.placeholder.com/150" alt="placeholder">
            </li>
            <li class="delivery-container d-flex">
                <img src="https://via.placeholder.com/150" alt="placeholder">
                <img src="https://via.placeholder.com/150" alt="placeholder">
            </li>
        </ul>
    </div>
    <div class="follow-us">
        <span>follow us</span>
        <ul>
            <li class='socmed d-flex justify-content-start align-content-center'>
                <div class="fb icon"></div>
                <a href="">Facebook</a>
            </li>
            <li class='socmed d-flex justify-content-start align-content-center'>
                <div class="ig icon"></div>
                <a href="">Instagram</a>
            </li>
        </ul>
    </div>
</div>
