{% extends "base.html" %}
{% load logged_in %}
{% block content %}

{% if request.user|has_group:"Vendor" %}
    <a href="{% url 'manage-vendor' %}" class="btn btn-primary">Manage Store</a>
{% endif %}
<a href="{% url 'manage-account' %}" class="btn btn-primary">Manage Account</a>

    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Delete Buyer Profile</legend>
                <h2>Are you sure you want to delete your buyer profile? </h2>
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-danger" type = "submit">Yes, Delete</button>
                <a class = "btn btn-outline-secondary" href = "{% url 'manage-buyer' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}