{% extends "base.html" %}
{% load logged_in %}
{% load crispy_forms_tags %}
{% block content %}

{% if request.user|has_group:"Vendor" %}
    <a href="{% url 'manage-vendor' %}" class="btn btn-primary">Edit Vendor Info</a>
{% endif %}
<a href="{% url 'manage-account' %}" class="btn btn-primary">Manage Account</a>

<h1>Buyer Information</h1>

<div class = "content-section">
    <div class="media">
        <img src="{{ site_user.image.url }}" width="200px" height="200px">
    </div>
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Store Info</legend>
            {{ b_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type = "submit">Update</button>
        </div>
    </form>

    <a href="{% url 'delete-buyer'%}" class="btn btn-outline-danger">Delete Buyer Profile</a>
</div>
{% endblock content %}