{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {%include 'admins/partials/_dashboard_nav.html' %}
    <h1>Update Product</h1>
    <div class="content-section">
        <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Update Product</legend>
                {{ p_form|crispy }}
                {{ c_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}