{% extends "base.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Remove from Cart</legend>
                {% if object.product %}
                    <h2>Are you sure you want to remove "{{ object.product.name }}" from your cart? </h2>
                {% else %}
                    <h2>Are you sure you want to remove "{{ object.service.name }}" from your cart? </h2>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-danger" type = "submit">Yes, Remove</button>
                <a class = "btn btn-outline-secondary" href = "{% url 'cart' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}