{% extends "base.html" %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/concierge.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}"
{% endblock stylesheets %}
{% block content %}

<div class="compee-concierge">
<div class="jumbotron">
    <div class="content d-flex justify-content-center align-items-center">
        <img src="/static/img/icons/Compee Cares Logo.svg" class="img-fluid">
        <h1>Compee Concierge</h1>
    </div>
</div>
</div>

<div class="concierge-about">
<div class="jumbotron">
    <div class="content d-flex justify-content-center align-items-center">
        <p>
            Our CompeeConcierges are passionate computer enthusiasts who are dedicated to helping you with almost any computer-related matter, whether before, during, or after your purchase.  
        </p>
    </div>
</div>
</div>

<div class="concierge-desc">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-content-center">
            <img src="/static/img/icons/Concierge About.png" class="concierge-desc-logo">
        </div>
        <div class="col-md-8">
            <span>
            <p>
                Talk to our computer experts about any question you might have, whether you’re finding out which laptop gets you the performance you need at a cheaper price, figuring out the compatibility of certain PC parts, needing an explanation on what the different processors can run, trying to understand why a bigger CPU might not always be the best choice, or any other such question
            </p>
            </span>
            <span>
            <p>
                CompeeConcierges are here to share their expert knowledge with you, to help you understand one of the most important purchases you will make.
            </p>
            </span>
    
        </div>	
    </div>
    </div>
<hr>


<h3>Product Guides</h3>
<section class="compee-blogs">
        <div class="blog-container">
        {% if guides %}
            {% for post in guides %}
            <!-- placeholder -->
            <div class="blog-item d-flex justify-content-start align-items-start">
                <div class="blog-img">
                    <img src="https://via.placeholder.com/300x150" alt="">
                </div>
                <div class="blog-details d-flex flex-column justify-content-between">
                    <div class="blog-header">
                        <h2><a href="{% url 'product-guide' post.slug %}">{{ post.title }}</a></h2>
                        <span class="blog-author">by Lorem & Ipsum</span>
                        <p>{{ post.content|safe|truncatewords:"30"|linebreaks }}</p>
                    </div>
                    <div class="blog-published d-flex justify-content-between align-items-center">
                        <span>06 Oct 2020</span>
                        <a href="" class="btn btn-navy">Read Post</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a class="btn btn-primary" href="{% url 'product-guides-main' %}">See All..</a>
        {% else %}
            <p>There are no posts to display!</p>
        {% endif %}
        </div>
</section>

<hr>
<section class="compee-faq">
    <h3>Frequently Asked Questions</h3>
    <div class="question-container">
    {% if faqs %}
        {% for post in faqs %}
        <div class="question-item d-flex justify-content-start align-items-center">
            <div class="question-details">
                <div class="question-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#content_{{ forloop.counter }}">
                    <span>{{ post.title }}</span>
                    <i class="fas fa-plus"></i>
                </div>
                <div id="content_{{ forloop.counter }}" class="collapse question-content">
                     <p>{{ post.content|safe|truncatewords:"30"|linebreaks }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>There are no posts to display!</p>
    {% endif %}
    </div>
</section>

{% endblock content %}