{% extends "base.html" %}
{% block content %}
    <a href="{% url 'compee-concierge' %}" class='btn btn-primary'>Back to Concierge</a>
    <h1>Frequently Asked Questions</h1>
    {% if faqs %}
        {% for post in faqs %}
            <h2><a href="{% url 'product-guide' post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.content|safe|truncatewords:"30"|linebreaks }}</p>
        {% endfor %}
    {% else %}
        <p>There are no posts to display!</p>
    {% endif %}
{% endblock content %}