@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/*
  Global styles
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Jost', sans-serif;
    
}

main {
    margin-top: 2.5%;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-spacer {
    height: 8.5em;
}

/* navbar */
.bg-blue {
    background: #159ABD;
}

.nav-top a {
    color: #fff;
}

.nav-divider {
    border-left: 1px solid #fff;
    height: 1em;
}

.compee-cares-btn {
    margin-right: 10px;
}

.compee-cares-btn span {
    color: white;
    background-color: #202020;
    padding: .125em .375em;
    border-radius: 2px;
}

.compee-cares-btn a:hover {
    text-decoration: none;
}

.search-wrapper input {
    border: none;
    height: auto;
}

.nav-bot a:not(:first-child) {
    margin-left: 20px;
}

.btn-container {
    background-color: #fff;
    padding: 5px;
}

.btn-container button {
    border: none;
    background-color: #159ABD;
    border-radius: unset;

}

.btn-container i {
    color: #fff;
    font-size: 1.25em;
}

.btn-navy {
    background-color: #005F7B;
    color: #fff;
}

.btn-navy:hover {
    background-color: #159ABD;
    color: #fff;
}

.btn-blue {
    background-color: #159ABD;
    color: #fff;
}

.btn-blue:hover {
    border: 1px solid #fff;
    color: #fff;
}

.btn-blue-outline {
    border: 1px solid #159ABD;
    color: #159ABD;
    background: #fff;
}

.btn-blue-outline:hover {
    color: #fff;
    background: #159ABD;
}

.btn-white {
    color: #202020;
    background-color: #fff;
}

.btn-white path {
    fill: #159ABD;
    transition: fill .15s ease-in-out;
}

.btn-white:hover {
    color: #fff;
    background-color: #159ABD;
}

.btn-white:hover path {
    fill: #fff;
}

a.btn>.icon {
    margin-right: 10px;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search {
    background-image: url('../img/icons/Search.svg');
}

.heart {
    background-image: url('../img/icons/Heart.svg')
}

.navbar .form-control:focus,
.navbar .form-control:active {
    outline: 0;
    border: 0 !important;
    box-shadow: none;
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-top {
        justify-content: space-between !important;
        font-size: .9em;
    }

    .nav-bot a span {
        display: none;
    }

    .nav-bot a>.icon {
        margin: 0;
    }

    .nav-bot .navbar-collapse {
        margin: 0;
    }

}

@media screen and (max-width: 575px) {

    .navbar {
        padding: .5rem 1rem !important;
    }

    .nav-top {
        font-size: .8em;
    }
}

/* footer */
footer {
    bottom: 0;
    background-color: #202020;
}

.footer-content {
    padding: 3.5% 0 !important;
}

.footer-content>div>span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.footer-content>div li,
.footer-content>div li a {
    color: #fff;
}

.payment-methods li {
    margin-bottom: 10px;
}

.online-payment img {
    height: 35px;
    width: auto;
    background-color: #fff;
    margin-right: 20px;
}

.delivery-container img {
    height: 35px;
    width: 75px;
    margin: 0 10px 10px 0;
}

.socmed {
    color: #fff;
    margin-bottom: 10px;
}

.socmed a {
    margin: 0 5px;
}

.fb {
    background-image: url('../img//icons/facebook-2\ 1.svg');
}

.ig {
    background-image: url('../img/icons/instagram-2\ 1.svg');
}

/*admin sidenav*/
.sidenav {
    height: 100%; 
    width: 150px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; 
    margin-top: 120px;
    border-right: 1px solid #000000;
  }

  .sidenav a {
    padding: 20px 10px;
    margin: 0 5%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #000000;
  }


@media screen and (max-width: 991px) {
    .footer-content>div>span {
        font-size: 1em;
    }

    .footer-content>div li,
    .footer-content>div li a {
        font-size: .9em;
    }
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content>div>span {
        font-size: 1.25em;
        margin-top: 15px;
    }

    .footer-content>div li,
    .footer-content>div li a {
        font-size: 1em;
    }
}

/* navbar */
.navbar {
    padding: 0;
}

/* override some bootstrap styles */
.container {
    padding: 0px;
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 15px !important;
    }
}

/* search filter */
.search-filter {
    top: 150px;
}