@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/*
  Global styles
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Jost', sans-serif;
}

main {
    margin-top: 2.5%;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-spacer {
    height: 8.5em;
}

/* navbar */
.bg-blue {
    background: #159ABD;
}

.nav-top a {
    color: #fff;
}

.nav-divider {
    border-left: 1px solid #fff;
    height: 1em;
}

.compee-cares-btn {
    margin-right: 10px;
}

.compee-cares-btn span {
    color: white;
    background-color: #202020;
    padding: .125em .375em;
    border-radius: 2px;
}

.compee-cares-btn a:hover {
    text-decoration: none;
}

.search-wrapper input {
    border: none;
    height: auto;
}

.nav-bot a:not(:first-child) {
    margin-left: 20px;
}

.btn-container {
    background-color: #fff;
    padding: 5px;
}

.btn-container button {
    border: none;
    background-color: #159ABD;
    border-radius: unset;

}

.btn-container i {
    color: #fff;
    font-size: 1.25em;
}

.btn-navy {
    background-color: #005F7B;
    color: #fff;
}

.btn-navy:hover {
    background-color: #159ABD;
    color: #fff;
}

.btn-blue {
    background-color: #159ABD;
    color: #fff;
}

.btn-blue:hover {
    border: 1px solid #fff;
    color: #fff;
}

.btn-white {
    color: #202020;
    background-color: #fff;
}

.btn-white path {
    fill: #159ABD;
    transition: fill .15s ease-in-out;
}

.btn-white:hover {
    color: #fff;
    background-color: #159ABD;
}

.btn-white:hover path {
    fill: #fff;
}

a.btn>.icon {
    margin-right: 10px;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search {
    background-image: url('../img/icons/Search.svg');
}

.heart {
    background-image: url('../img/icons/Heart.svg')
}

/* footer */
footer {
    bottom: 0;
    background-color: #159ABD;
}

.footer-content {
    padding: 2.5% 0;
}

.footer-content>div>span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.footer-content>div li,
.footer-content>div li a {
    color: #fff;
}

.payment-methods li {
    margin-bottom: 10px;
}

.online-payment img {
    height: 35px;
    width: auto;
    background-color: #fff;
    margin-right: 20px;
}

.delivery-container img {
    height: 35px;
    width: 75px;
    margin: 0 10px 10px 0;
}

.socmed {
    color: #fff;
    margin-bottom: 10px;
}

.socmed a {
    margin: 0 5px;
}

.fb {
    background-image: url('../img//icons/facebook-2\ 1.svg');
}

.ig {
    background-image: url('../img/icons/instagram-2\ 1.svg');
}

/* navbar */
.navbar {
    padding: 0;
}

/* override some bootstrap styles */
.container {
    padding: 0px;
}