{% extends "admins/dashboard.html" %}
{% load crispy_forms_tags %}
{% block dash-content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">New Term</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Create</button>
            </div>
        </form>
    </div>
    <div class='content-section'>
        <table>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td></td>
                <td></td>
            </tr>
            {% for term in terms %}
            <tr>
                <td>{{ term.name }}</td>
                <td>{{ term.term_type }}</td>
                <td><a href="{% url 'term-update' term.term_id %}">Edit</a></td>
                <td><a href="{% url 'term-delete' term.term_id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock dash-content %}