{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/category.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/ss.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
{% endblock stylesheets %}

{% block content %}
    <p class="link-nav">
        <a href="{% url 'home' %}">Home</a> > <a href="{% url 'all-categories' %}">Categories</a> > <span>{{category.name}}</span>
    </p>

    <div class="row">
         <div class="col-md-2">
            <div class="search-filter sticky-top">
                {% include 'main/partials/_category_filter.html' %}
            </div>
        </div>

        <div class="col-md-10">
            {% if products or services %}
                {% if products %}
                    <h2>Showing all products under {{ category.name }}</h2>
                    {%include 'main/partials/_products.html' %}
                {% endif %}

                {% if services %}
                    <h2>Showing all services under {{ category.name }}</h2>
                    {%include 'main/partials/_services.html' %}
                {% endif %}

            {% else %}
                <h2>There are no products to display.</h2>
            {% endif %}
        </div>
    </div>

{% endblock content %}