.about-container {
    padding-top: 2.5%;
}

p {
    text-align: justify;
    width: 85%;
}

.about-logo {
    width: auto;
    height: 350px;
    margin-top: 2em;

}

@media screen and (max-width: 991px) {
    

}

@media (max-width: 768px) {
    p {
        width: 100%;
    }

    h3 {
    padding: 10px 0
    }

    .about-logo {
        width: auto;
        height: 200px;
        margin-top: 1em;
    
    }
}

@media (max-width: 576px) {
    p {
        width: 100%;
    }

    h3 {
    padding: 10px 0
    }

    .about-logo {
        width: auto;
        height: 150px;
        margin-top: 1em;
    
    }

}