.about-container {
    padding-top: 2.5%;
}

p {
    text-align: justify;
    width: 85%;
}

@media screen and (max-width: 991px) {
    p {
        width: 100%;
    }
}

h3 {
    padding: 10px 0
}

.about-logo {
    width: auto;
    height: 350px;
    margin-top: 2em;

}