.about-container {
    padding-top: 2.5%;
}

p {
    font-size: 18px;
    line-height: 26px;
    width: 80%;
    text-align: justify;
}

h3 {
    padding: 10px 0
}
.about-logo {
    width: auto;
    height: 350px;
    margin-top: 50px;
   
}