/* cat nav */
.link-nav {
    color: #159ABD;
}

.link-nav span:last-child {
    color: #159ABD;
}

.link-nav a {
    color: #CECDCD;
    text-decoration: none;
}

.link-nav a:hover {
    color: #159ABD;
}

/* filter */
.price-filter .form-row input {
    width: 5em;
    height: 2em;
    font-size: 0.8em;
}

.rating-filter i {
    color: #FFD600;
    font-size: .8em;
}

.rating-filter .form-check:not(:last-child) label {
    letter-spacing: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}