.home-nav a:first-child {
    font-weight: 600;
}

.home-nav a {
    color: #159ABD;
    font-size: 1.5em;
    margin-right: 20px;
}

.compee-cares {
    background-image: url('../../img/icons/Compee\ Cares\ Logo.svg');
}

/* side nav */
ul li a {
    color: black;
}