section {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 15px;
}

.home-nav a:first-child {
    font-weight: 600;
}

.home-nav a {
    color: #159ABD;
    font-size: 1.5em;
    margin-right: 20px;
}

.compee-cares {
    background-image: url('../../img/icons/Compee\ Cares\ Logo.svg');
}

.sellers-icon {
    background-image: url('../../img/icons/seller.svg');
    width: 3.5em;
    height: 3.5em;
}

.services-icon {
    background-image: url('../../img/icons/services.svg');
    width: 3.5em;
    height: 3.5em;
}

.sellers-services a {
    background: #005F7B;
    text-decoration: none;
    padding: 1.5% 2.5%;
}

.sellers-services p {
    color: #fff;
    text-align: center;
}

.sellers-services .ss-wrapper span {
    color: #fff;
    font-size: 3em;
    margin-left: 20px;
}

/* compee overlay buttons in the side */
.compee-overlay {
    position: fixed;
    display: inline-block;
    bottom: 10%;
    left: 0;
    z-index: 999;
}

.overlay-icon {
    background-color: #005F7B;
    ;
    color: #fff;
    font-weight: 500;
    max-width: calc(.75em + 1.75em);
    width: auto;
    border: 1px solid #005F7B;
    ;
    align-items: center;
    overflow: hidden;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    display: inline-flex;
}

a.overlay-icon {
    text-decoration: none;
    color: #fff;
}

.overlay-icon:hover {
    max-width: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.overlay-icon span {
    white-space: nowrap;
    padding: .35em;
}

.overlay-icon:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overlay-icon:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.overlay-icon:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.overlay-icon img {
    width: 1.75em;
    height: 1.75em;
    margin: .35em;
}

/* COMPEE SLIDER */
.compee-banner {
    padding: .75em 0 1.5em;
}

.compee-banner img {
    height: 300px;
    width: 100%;
}

/* side nav */
ul li a {
    color: black;
}

/* categories section */
.categories-container {
    border: 1px solid #202020;
    border-radius: 2px;
}

.categories-container .row {
    margin: 0;
}

.categories-container .row a.cat-item {
    padding: 0;
    text-decoration: none;
    color: #202020;
}

.categories-container .row .cat-item img {
    padding: 1em;
    width: 135px;
    height: auto;
}

.categories-container .row .cat-item span {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0 10px;
}

.categories-container .row:not(:last-child) .cat-item {
    border-bottom: 1px solid #CECDCD;
}

.categories-container .row .cat-item:not(:last-child) {
    border-right: 1px solid #CECDCD;
}

/* blog posts */
.blog-item {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding: 10px 0;
}

.blog-img img {
    height: 130px;
    width: auto;
}

.blog-details {
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.blog-header span {
    display: block;
}

.blog-header span.blog-title {
    font-weight: 500;
    line-height: 24px;
}

.blog-header span.blog-author {
    font-weight: 700;
    font-size: 0.9em;
}

.blog-published span {
    font-size: 0.8em;
}

.blog-published {
    width: 100%;
}

.read-more {
    margin-top: 20px;
}

.share {
    background-image: url('../../img/icons/share.svg');
    margin-left: 10px;
    margin-right: 0px !important;
}