/* styles for SELLERS (vendors) and SERVICES (providers) */

/* navigation */
.link-nav {
    color: #159ABD;
}

.link-nav span:last-child {
    color: #159ABD;
}

.link-nav div:last-child {
    color: #159ABD;
}

.link-nav a {
    color: #CECDCD;
}

.search-filter span {
    font-weight: 500;
}

/* for items */
.item-row {
    border-bottom: 1px solid #202020;
    border-radius: 2px;
    margin: 20px 0;
}

.item-row .item-wrapper {
    padding: 0;
}

.item-row .item-wrapper .card {
    padding: 0 15px;
    border: 0;
    border-radius: 0;
    height: 95%;
}

.item-row .item-wrapper .card a:hover {
    text-decoration: none;
}

.item-row .item-wrapper:not(:last-child) .card {
    border-right: 1px solid #CECDCD;
}

.item-row .item-wrapper .card-body {
    padding: 0;
}

.item-row .item-wrapper .card-text {
    font-weight: 500;
    color: #202020;
    padding: 1em 0;
}

.item-row .item-wrapper .card-body li {
    margin-bottom: 10px;
}

.item-row .item-wrapper .card-body li a {
    background: #CECDCD;
    border-radius: 18px;
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    font-size: .9em;
    text-decoration: none;
}

/* indiv pages */
.ss-details>div {
    margin-bottom: 20px;
}

.ss-desc {
    border: 1px solid #202020;
    padding: 1em 2em;
}

.ss-desc-content {
    margin-left: 20px;
}

.ss-desc-content>span {
    display: block;
    font-weight: 500;
    font-size: 1.5em;
}

.ss-socmed>* {
    margin-right: 10px;
}

.ss-socmed a {
    color: #159ABD;
}

.ss-socmed a span {
    margin-left: 5px;
}

.ss-add-desc {
    width: 100%;
}

.ss-add-desc span>span {
    font-weight: 500;
}

.ss-abt {
    border: 1px solid #202020;
    border-radius: 2px;
    padding: 1em 2em;
}

.ss-abt hr {
    border-top: 1px solid #CECDCD;
    margin: .25em 0 1em;
}

.ss-abt span {
    font-weight: 500;
    font-size: 1.5em;
}

.ss-container>div {
    margin-bottom: 20px;
}

/* ss nav */
.ss-nav .row {
    margin: 0;
}

.ss-nav .row>div {
    padding: 0;
}

.ss-nav .cat-item {
    border: 2px solid #159ABD;
    padding: .5em 1em;
}

.ss-nav .cat-item:not(:last-child) {
    margin-right: 15px;
}

.ss-nav a.cat-item {
    color: #159ABD;
    text-decoration: none;
    text-align: center;
}

.ss-nav a.cat-item:hover {
    background-color: #159ABD;
    color: #fff;
}

.ss-nav .row:first-child {
    margin-bottom: 10px;
}

/* ss indiv product */
.shipping {
    background-image: url('../../img/icons/delivery.svg');
    width: 2em;
    height: 2em;
}

.ss-item-wrapper > div {
    margin-bottom: 30px;
}

.ss-item-wrapper .ss-name span{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 2em;
}

.ss-item-wrapper .ss-price {
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 10px 20px;
}

.ss-item-wrapper .ss-price span {
    font-weight: 700;
    font-size: 1.75em;
    color: #159ABD;
}

.ss-shipping .shipping-txt {
    margin-left: 2em;
}

.ss-shipping .shipping-txt-container {
    margin-left: 1em;
}

.ss-options button:last-child {
    margin-left: 40px;
}

.ss-options button span {
    margin-left: 10px;
}

/* SS PRODUCT INFO */
.ss-help a {
    color: #159ABD;
}

.ss-help a span:last-child {
    text-decoration: underline;
    margin-left: 10px;
}

.ss-product-body {
    padding: 2em;
    border: 1px solid #202020;
    border-radius: 2px;
}

/* reviews */
.rev-wrapper span i{
    color: #FFD600;
}

.rev-wrapper p {
    font-size: 1.25em;
}

/* category filter */
.product-body span {
    font-weight: 700;
    font-size: .9em;
}