/* styles for SELLERS (vendors) and SERVICES (providers) */

/* navigation */
.link-nav {
    color: #159ABD;
}

.link-nav span:last-child {
    color: #159ABD;
}

.link-nav a {
    color: #CECDCD;
}

.search-filter span {
    font-weight: 500;
}

/* for items */
.item-row {
    border-bottom: 1px solid #202020;
    border-radius: 2px;
}

/* indiv pages */

.ss-details>div {
    margin-bottom: 30px;
}

.ss-desc {
    border: 1px solid #202020;
    padding: 1em 2em;
}

.ss-desc-content {
    margin-left: 20px;
}

.ss-desc-content>span {
    display: block;
    font-weight: 500;
    font-size: 1.5em;
}

.ss-socmed>* {
    margin-right: 10px;
}

.ss-socmed a {
    color: #159ABD;
}

.ss-socmed a span {
    margin-left: 5px;
}

.ss-add-desc {
    width: 100%;
}

.ss-add-desc span>span {
    font-weight: 500;
}

.ss-abt {
    border: 1px solid #202020;
    border-radius: 2px;
    padding: 1em 2em;
}

.ss-abt hr {
    border-top: 1px solid #CECDCD;
    margin: .25em 0 1em;
}

.ss-abt span {
    font-weight: 500;
    font-size: 1.5em;
}

.ss-container>div {
    margin-bottom: 20px;
}