/* styles for SELLERS (vendors) and SERVICES (providers) */

/* navigation */
.link-nav {
    color: #159ABD;
}

.link-nav span:last-child {
    color: #159ABD;
}

.link-nav a {
    color: #CECDCD;
}

.search-filter span {
    font-weight: 500;
}

/* for items */
.item-row {
    border-bottom: 1px solid #202020;
    border-radius: 2px;
}

/* indiv pages */
.ss-desc {
    border: 1px solid #202020;
}

.ss-desc-content>span {
    display: block;
    font-weight: 500;
    font-size: 1.5em;
}

.ss-socmed>* {
    margin-right: 10px;
}

.ss-socmed a {
    color: #159ABD;
}

.ss-socmed a span {
    margin-left: 5px;
}