.content-section {
    margin: auto;
    width: 50%;
    padding: 2em 0;
}

legend {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.login-container {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 50px 50px;
}

.form-group button {
    width: 200px;
}

.text-muted {
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

/* media queries */
@media (max-width: 992px) {
    

}

@media (max-width: 768px) {
    legend {
        font-size: 1.8em;
     }
}

@media (max-width: 576px) {
    legend {
        font-size: 1.5em;
     }

     .form-group button {
         width: 100%;
         display: block;
         font-size: 1em;
         
     }

     .text-muted {
         font-size: 1em;
     }
}