{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/cares.css' %}">
{% endblock stylesheets %}
{% block content %}

    <div class="compee-cares">
    <div class="jumbotron">
        <div class="content d-flex justify-content-center align-items-center">
    <img src="/static/img/icons/Compee Cares Logo.svg" class="img-fluid">
    <h1>Compee Cares</h1>
        </div>
    </div>
    </div>

    <div class="cares-about">
        <div class="jumbotron">
            <div class="content d-flex justify-content-center align-items-center">
                <img src="/static/img/icons/Cares-about.svg" class="img-fluid">
            </div>
            <h3>Our Compee Cares is our very own paid extended warranty that we offer!</h3>
        </div>
    </div>


    <section class="cares-info">
        <div class="cares-container">
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content1">
                        <span><h4>How does CompeeCares Work?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content1" class="collapse cares-content">
                         <p>How does CompeeCares work? Compee has a system in place to facilitate the diagnosis and repair of any Compee purchased device. If you sense an issue with your Compee-purchased device, you can contact our CompeeConcierge or send a direct email to compee.ph@gmail.com . From there Compee will coordinate with our service provider to aid with the diagnosis and if the device needs repair, it will be sent to our service provider for repair. The cost of repair will be covered by Compee, only if the customer has paid for CompeeCares for the specific device </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content2">
                        <span><h4>What exactly does CompeeCares cover?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content2" class="collapse cares-content">
                         <p>Coverage includes almost any kind of hardware-related issues that may happen to the device?</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content3">
                        <span><h4>What if my device falls accidentally and there is damage to it, is that covered under CompeeCares?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content3" class="collapse cares-content">
                         <p>We know accidents happen, so CompeeCares also covers non-factory issues, so long as they are unintentional accidents and issues that are not caused by modifications discouraged by the manufacturer</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content4">
                        <span><h4>What about the supplier-issued or manufacturer-issued warranty?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content4" class="collapse cares-content">
                         <p>The supplier warranty and/or manufacturer warranty will still apply to the item. If in the diagnosis stage we determine that it is covered by the supplier or manufacturer warranty, we will assist in getting a repair or replacement from the supplier or manufacturer, but if it is an issue beyond the scope of the warranty, that’s what CompeeCares can cover. </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content5">
                        <span><h4>How many times can I use CompeeCares?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content5" class="collapse cares-content">
                         <p>There is no maximum amount of repairs if the device is covered by CompeeCares, but we do hope that you’re taking ample care of your device.  </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cares-item d-flex justify-content-start align-items-center">
                <div class="cares-details">
                    <div class="cares-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#cares-content6">
                        <span><h4>What about if the device needs to be completely replaced?</h4></span>
                        <div class="fas fa-plus"></div>
                    </div>
                    <div id="cares-content6" class="collapse cares-content">
                         <span><p>If the service provider determines that there is no choice but to completely replace the device, the customer will be given the option to purchase the same device or the closest similar one available at the time, at no markup. In the event of theft however, the CompeeCares discount for replacement items will still be applied, but the customer must pay for CompeeCares for the new device again if the customer wants the new device covered. </p></span>
                         <span><p>Disclaimer: Compee reserves the right to refuse to replace parts or entire devices if the team suspects fraud or misrepresentation of any kind</p></span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

    
    
{% endblock content %}