{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/home.css' %}">
{% endblock stylesheets %}

{% block content %}
    <section class="banner-menu">
        <div class="row">
            {% include 'main/partials/_categories.html' %}
            <div class="col-md-9 d-flex flex-column ss-content">
                <div class="concierge-btn d-flex justify-content-end align-items-end">
                    <a href="{% url 'compee-cares' %}" class="btn btn-navy d-flex justify-content-center align-items-center">
                        <div class="compee-cares icon"></div>
                        <span>Compee Cares</span>
                    </a>
                </div>

                <div class="ss-banner">
                    <img src="{{ banner.image.url }}" width="100%" height="300px">
                </div>

                <div class="sellers-services d-flex justify-content-between align-items-center">
                    <a href="{% url 'vendors-main' %}" class="sellers btn btn-navy">
                        <div class="ss-wrapper d-flex justify-content-center align-items-center">
                            <div class="sellers-icon icon"></div>
                            <span>Sellers</span>
                        </div>
                        <p>
                            Reach out and sell to our community of buyers.<br>Register with Compee as a Seller now!
                        </p>
                    </a>
                    <a href="{% url 'services-main' %}" class="services btn btn-navy">
                        <div class="ss-wrapper d-flex justify-content-center align-items-center">
                            <div class="services-icon icon"></div>
                            <span>Services</span>
                        </div>
                        <p>
                            Have something to offer to serve our community?<br>Register with Compee as a Service now!
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="compee-overlay">
            <a href="" class="overlay-icon d-flex align-items-center">
                <img src="../../../static/img/icons/Sale.svg" alt="deals">
                <span>Today's Deals</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <img src="../../../static/img/icons/Most Popular.svg" alt="popular">
                <span>Most Popular</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <img src="../../../static/img/icons/Categories.svg" alt="categories">
                <span>Categories</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <img src="../../../static/img/icons/Blogs.svg" alt="blogs">
                <span>Compee Blogs</span>
            </a>
        </div>
    </section>

    <section class="deals" id="deals">
    <!-- OPTIONAL PRODUCT GROUP DISPLAY -->
    {% if groups %}
        {% for group in groups %}
                <h3>{{ group.title }}</h3>
                <ul>
                    {% for i in group.products %}
                        <li>{{i.product.name}} {{i.product.price}}</li>
                    {% endfor %}
                </ul>
        {% endfor %}
    {% endif %}
    </section>

    <section class="categories">
        <h3>Categories</h3>
        <div class="container categories-container">
            {% for cat in categories %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <a href="{% url 'category-filter' cat.name %}" class="col-lg-4 cat-item cat-item--{{forloop.counter}} d-flex justify-content-start align-items-center">       
                        <img src="https://via.placeholder.com/150" alt=""><span>{{ cat }}</span>                    
                    </a>
                    {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
        </div>
    </section>

    <!-- <section class="just-for-you">
        <h3>Just For You</h3>
    </section> -->

    <section class="compee-blogs" id="blogs">
        <h3>Compee Blogs</h3>
        <div class="blog-container">
            {% for i in '123'|make_list %}
            <!-- placeholder -->
            <div class="blog-item d-flex justify-content-start align-items-start">
                <div class="blog-img">
                    <img src="https://via.placeholder.com/300x150" alt="">
                </div>
                <div class="blog-details d-flex flex-column justify-content-between">
                    <div class="blog-header">
                        <span class="blog-title">Lorem Ipsum</span>
                        <span class="blog-author">by Lorem & Ipsum</span>
                    </div>
                    <div class="blog-published d-flex justify-content-between align-items-center">
                        <span>06 Oct 2020</span>
                        <a href="" class="btn btn-navy">Read Post</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="read-more d-flex justify-content-center align-items-center">
                <a href="#" class="btn btn-navy d-flex justify-content-center align-items-center">
                    <span>Read More</span>
                    <div class="share icon"></div>
                </a>
            </div>
        </div>
    </section>

{% endblock content %}