{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/home.css' %}">
{% endblock stylesheets %}

{% block content %}
    <section class="banner-menu">
        <div class="row">
            {% include 'main/partials/_categories.html' %}
            <div class="col-md-9">
                <div class="d-flex justify-content-end align-items-end">
                    <a href="" class="btn btn-navy d-flex justify-content-center align-items-center">
                        <div class="compee-cares icon"></div>
                        <span>Compee Cares</span>
                    </a>
                </div>
                <div class="">

                </div>

                <div class="sellers-services d-flex justify-content-between align-items-center">
                    <a href="" class="sellers btn-navy">
                        <div class="ss-wrapper d-flex justify-content-center align-items-center">
                            <div class="sellers-icon icon"></div>
                            <span>Sellers</span>
                        </div>
                        <p>
                            Reach out and sell to our community of buyers.<br>Register with Compee as a Seller now!
                        </p>
                    </a>
                    <a href="" class="services btn-navy">
                        <div class="ss-wrapper d-flex justify-content-center align-items-center">
                            <div class="services-icon icon"></div>
                            <span>Services</span>
                        </div>
                        <p>
                            Have something to offer to serve our community?<br>Register with Compee as a Service now!
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="compee-overlay">
            <a href="" class="overlay-icon d-flex align-items-center">
                <div class="deals-icon icon"></div>
                <span>Today's Deals</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <div class="popular-icon icon"></div>
                <span>Most Popular</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <div class="categories-icon icon"></div>
                <span>Categories</span>
            </a>
            <a href="" class="overlay-icon d-flex align-items-center">
                <div class="blogs-icon icon"></div>
                <span>Compee Blogs</span>
            </a>
        </div>
    </section>

    <section class="deals" id="deals">
    <!-- OPTIONAL PRODUCT GROUP DISPLAY -->
    {% if groups %}
        {% for group in groups %}
            <section>
                <h3>{{ group.title }}</h3>
                <ul>
                    {% for i in group.products %}
                        <li>{{i.product.name}} {{i.product.price}}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    {% endif %}
    <!-- OPTIONAL PRODUCT GROUP DISPLAY -->


    <section class="deals">
        <h3>Today's Deals</h3>

    </section>

    <section class="popular">
        <h3>Most Popular</h3>
        {% for prod in products %}
        <p>{{prod}}</p>
        {% endfor %}
    </section>

    <section class="categories">
        <h3>Categories</h3>

        {% for cat in categories %}
            {{cat}}
        {% endfor %}
    </section>

    <section class="just-for-you">
        <h3>Just For You</h3>
    </section>

{% endblock content %}