{% extends "base.html" %}
{% block content %}
    {%include 'partials/_dashboard_nav.html' %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">make Admin</legend>
                <h2>Are you sure you want to give {{ user.username }} admin permissions?</h2>
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-danger" type = "submit">Confirm</button>
                <a class = "btn btn-outline-secondary" href = "{% url 'users' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}