{% extends "base.html" %}
{% load logged_in %}
{% load crispy_forms_tags %}
{% block content %} 

    {% if request.user|has_group:"Vendor" %}
        <a href="{% url 'manage-vendor' %}"><button class = "btn btn-outline-info">Edit Vendor info</button></a>
    {% endif %}
    {% if request.user|has_group:"Buyer" %}
        <a href="{% url 'manage-buyer' %}"><button class = "btn btn-outline-info">Edit Buyer Info</button></a>
    {% else %}
        <a href="{% url 'become-buyer' %}"><button class = "btn btn-outline-info">Become a Buyer</button></a> <!-- separate this button frm profile nav -->
    {% endif %}
    <h1>Manage Account</h1>
    <div class="content-section">
        <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Account Info</legend>
                {{ u_form|crispy }}
                {{ pass_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}