{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
    <a href="{% url 'manage-store' %}"><button class = "btn btn-outline-info">Manage Store</button></a>
    <h1>Manage Account</h1>
    <div class="content-section">
        <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Account Info</legend>
                {{ u_form|crispy }}
                {{ pass_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}