{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">

        {% if title %}
            <title>{{ title }} | Compee PH </title>
        {% else %}
            <title>Compee PH</title>
        {% endif %}
    </head>
    <body>
        <header class =  "site-header">
            {% include "partials/_navbar.html" %}
        </header>
        <div class="header-spacer"></div>
        <div class="sidenav">
          {% include "partials/_sidenav.html" %}
        </div>
        <main role="main" class="container main-wrapper">
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class = "alert alert-{{ message.tags}}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" ></script>
        <script src="{% static 'js/popper.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    </body>
</html>