{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/purchase.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% block content %}
    <h2 class="d-flex justify-content-start align-items-center">
        Checkout
        <div class="cart icon"></div>
    </h2>
    {% if multiple %}
            <p>Reminder: For Paypal/Card payments, store orders must be paid separately. </p>
        {% endif %}
    {% if items %}
        <div class="checkout-wrapper mb-4">
            <div class="cart-item-header">
                <div class="row">
                    <div class="col-sm-6 col-5">
                        <span>Products Ordered</span>
                    </div>
                    <div class="col-sm-2 col-3">
                        <span>Unit Price</span>
                    </div>
                    <div class="col-2">
                        <span>Quantity</span>
                    </div>
                    <div class="col-2">
                        <span>Subtotal</span>
                    </div>
                </div>
            </div>
            <div class="cart-item-body">
                {% for item in items %}
                    {% if item.product %}
                        <div class="cart-item">
                            <div class="row">
                                <div class="col-md-2 col-xs-6">
                                    <img src="{{item.product.image.url}}" width="100px" height="100px">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="cart-item-name">
                                        <a href="{% url 'vendor-product' item.product.slug %}">{{item.product.name}}</a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-price">
                                        <span>Php {{item.product.price}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-qty">
                                        <span>{{item.quantity}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-price">
                                        <span>Php {% widthratio item.product.price 1 item.quantity %}.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}

                    <div class="cart-item-wrapper">
                        <div class="cart-store">
                            <span>{{item.service.vendor.store_name}}</span>
                        </div>
                        <div class="cart-item">
                            <div class="row">
                                <div class="col-md-2 col-xs-6">
                                    <img src="{{item.service.image.url}}" width="100px" height="100px">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="cart-item-name">
                                        <a href="{% url 'vendor-product' item.service.slug %}">{{item.service.name}}</a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-price">
                                        <span>{{item.service.price}}</span>
                                        
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-qty">
                                        {{item.quantity}}
                                    </div>
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="cart-item-price">
                                        <span>{{item.product.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="row">
            {% if fees or s_only %}
            <div class="col-md-8">
                
                <div class="content-section order-details">
                    <form method = "POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class = "form-group">
                            <legend class = "mb-3">Order Details</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class = "btn btn-navy" type = "submit">Checkout</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-section order-details">
                    <h4>Order Summary</h4>
                    <div class="order-summary mb-4">
                        <p class="d-flex justify-content-between align-items-center">
                            <span>Subtotal ({% if items|length > 1 %}{{items|length}} Items{% else %}1 Item {% endif %})</span>
                            <span>Php {{ subtotal }}</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-start">
                            <span>Shipping Fee</span>
                            {% if fees %}
                            <ul>
                                {% for i in fees %}
                                    <li>
                                        Php {{ i.rate.rate }}
                                        <small>({{i.vendor.store_name}})</small>
                                    </li>           
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% if cc_total %}
                        <p class="d-flex justify-content-between align-items-center">
                            <span>Compee Cares Fee ({% if cc_count > 1 %}{{items|length}} Items{% else %}1 Item {% endif %})</span>
                            <span>Php {{cc_total}}</span>
                        </p>
                        {% endif %}
                    </div>
                    <div class="order-total">
                        <p class="d-flex justify-content-between align-items-center">
                            <span>Total:</span>
                            <span>Php {{ total }}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="content-section order-details">
                <h4>Order Summary</h4>
                <div class="order-summary mb-4">
                    <p class="d-flex justify-content-between align-items-center">
                        <span>Subtotal ({% if items|length > 1 %}{{items|length}} Items{% else %}1 Item {% endif %})</span>
                        <span>Php {{ subtotal }}</span>
                    </p>
                    <div class="d-flex justify-content-between align-items-start">
                        <span>Shipping Fee</span>
                        {% if fees %}
                        <ul>
                            {% for i in fees %}
                                <li>
                                    Php {{ i.rate.rate }}
                                    <small>({{i.vendor.store_name}})</small>
                                </li>           
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% if cc_total %}
                    <p class="d-flex justify-content-between align-items-center">
                        <span>Compee Cares Fee ({% if cc_count > 1 %}{{items|length}} Items{% else %}1 Item {% endif %})</span>
                        <span>Php {{cc_total}}</span>
                    </p>
                    {% endif %}
                </div>
                <div class="order-total">
                    <p class="d-flex justify-content-between align-items-center">
                        <span>Total:</span>
                        <span>Php {{ total }}</span>
                    </p>
                </div>
            </div>
            {% endif %}

        </div>
        

    {% else %}
        <h2>Your cart is empty!</h2>
    {% endif %}
{% endblock content %}