{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/purchase.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% block content %}
    {% if items %}
        <h2 class="d-flex justify-content-start align-items-center">
            Checkout
            <div class="cart icon"></div>
        </h2>
        <form method="POST">
        {% csrf_token %}
        {% for item in items %}
            <div class="cart-item-wrapper">
                <div class="cart-store">
                    <span>{{item.product.vendor.store_name}}</span>
                </div>
                <div class="cart-item">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <img src="{{item.product.image.url}}" width="100px" height="100px">
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-name">
                                <a href="{% url 'vendor-product' item.product.slug %}">{{item.product.name}}</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-price">
                                <span>{{item.product.price}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-qty">
                                {{item.quantity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="order-summary">
            <h2>Order Summary</h2>
            <hr>
            <div class="order-summary">
                <p class="d-flex justify-content-between align-items-center">
                    <span>
                        Subtotal ({% if items|length != 1%}{{items|length}} Items{%else%}1 Item{% endif %})
                    </span>
                    <span>Php 69.00</span>
                </p>
                <p class="d-flex justify-content-between align-items-center">
                    <span>Shipping Fee</span>
                    <span>Php 69.00</span>
                </p>
            </div>
            
            <div class="order-total">
                <p class="d-flex justify-content-between align-items-center">
                    <span>Total:</span>
                    <span>Php 69.00</span>
                </p>
            </div>
            <button class="btn btn-navy" type = "submit">Place Order</button>
        </div>
        </form>
    {% else %}
        <h2>Your cart is empty!</h2>
    {% endif %}
{% endblock content %}