{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/styles/purchase.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% block content %}
    {% if items %}
        <h2 class="d-flex justify-content-start align-items-center">
            Order Review
            <div class="cc-icon icon"></div>
        </h2>
        <p>
            Please tick the check marks beside the items you would like to purchase with Compee Cares with.
        </p>
        <form method="POST">
        {% csrf_token %}
        {% for item in items %}
            <div class="cart-item-wrapper">
                <div class="cart-store d-flex justify-content-start align-items-center">
                    <input type="checkbox" id="{{item.id}}" name="cares_{{item.id}}" value="True" class="mr-3">
                    <span>{{item.product.vendor.store_name}}</span>
                </div>
                <div class="cart-item">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <img src="{{item.product.image.url}}" width="100px" height="100px">
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-name">
                                <a href="{% url 'vendor-product' item.product.slug %}">{{item.product.name}}</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-price">
                                <span>{{item.product.price}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="cart-item-qty">
                                {{item.quantity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <hr>
            <button class="btn btn-navy" type = "submit">Proceed to Checkout</button>
        </form>
    {% else %}
        <h2>Your cart is empty!</h2>
    {% endif %}
{% endblock content %}