{% extends "base.html" %}
{% block content %}
    <a href="{% url 'my-orders' %}" class="btn btn-primary">Back to Orders</a>
    <h5>Order Reference ID: <strong>#{{ object.ref_id }}</strong></h5>
    <div class="row">
        <div class="col-md-8">
            <h5>Order Details</h5>
            <ul>
                <li>Status: {{object.status }} </li>
                <li>Date Placed: {{object.date_placed }}</li>
                <li>Shipping Address: {{ object.address_line }}, {{ object.city }}, {{ object.state }} {{ object.zip_code }}</li>
                <li>Shipping Fee: {{ object.shipping_fee.name }} - {{ object.shipping_fee.rate }}</li>
            </ul>
            <h5>Items</h5>
            <ul>
                {% for item in items %}
                    {% if item.product %}
                        {% if item.c_cares == True %}
                            <li>{{ item.product.name }} x{{ item.quantity }} - <strong>Purchased with Compee Cares</strong></li>
                        {% else %}
                            <li>{{ item.product.name }} x{{ item.quantity }}</li>
                        {% endif %}
                    {% else %}
                        <li>{{ item.service.name }} x{{ item.quantity }}</li>
                        {{item.c_cares}}
                    {% endif %}
                {% endfor %}
                <li>Total: {{object.total}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Customer Details</h5>
            <ul>
                <li>Name: {{object.user.first_name }} {{object.user.last_name }}</li>
                <li>Contact Number: {{ object.contact_no }} </li>
                <li>Email: {{ object.user.email }}</li>
                <li>Username: {{object.user.username}}</li>
            </ul>
            {% if cares %}
                <h5>Compee Cares</h5>
                <p>Days since purchased: {{days}}</p>
                <a href="{% url 'request-renewal' object.ref_id %}" class="btn btn-primary">Renew</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}