<span>{% if products|length != 1 %}{{products|length}} items{% else %} 1 item {% endif %} found in {{category.name}}</span>

{% for product in products %}
{% if forloop.first %}<div class="row item-row">{% endif %}
    <div class="col-md-3 item-wrapper">
        <div class="mb-4 card">
            <a href="{% url 'vendor-product' product.product.slug %}">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ product.product.image.url }}" width="100%" height="200px">
                </div>
                <p class="card-text">{{ product.product.name }}</p>
            </a>
            <div class="card-body product-body">
                <div class="price d-flex justify-content-between align-items-center">
                    <span>
                        Php {{ product.product.price }}
                    </span>
                    <button id="AddWishlist" class="btn btn-sm btn-outline-secondary" value='{% url "wishlist-add" %}'onclick='addToWishlist("{{ product.product.product_id }}","product")'>Add to Wishlist</button>
                    <button id="AddCart" class="btn btn-sm btn-blue-outline" value="{% url 'cart-add' %}" onclick='addToCart("{{ product.product.product_id }}", "product")'>Add to Cart</button>
                </div>

                <div class="vendor">
                    <a href="{% url 'vendor-detail-main' product.product.vendor.slug %}">
                        <img src="{{ product.product.image.url }}" alt="" width="120px" height="120px">
                    </a>
                </div>
                <p>Rating: {{ product.rating}}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"4" %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}