<span>{% if services|length != 1 %}{{services|length}} items{% else %} 1 item {% endif %} found in {{category.name}}</span>

{% for service in services %}
{% if forloop.first %}<div class="row item-row">{% endif %}
    <div class="col-md-3 item-wrapper">
        <div class="mb-4 card">
            <a href="{% url 'service-product' service.product.slug %}">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ service.product.image.url }}" width="100%" height="200px">
                </div>
                <p class="card-text">{{ service.product.name }}</p>
            </a>
            <div class="card-body product-body">
                <div class="price d-flex justify-content-between align-items-center">
                    <span>
                        Php {{ service.product.price }}
                    </span>
                    <button id="AddWishlist" class="btn btn-sm btn-outline-secondary" value='{% url "wishlist-add" %}'onclick='addToWishlist("{{ service.product.service_id }}", "service")'>Add to Wishlist</button>
                    <button id="AddCart" class="btn btn-sm btn-outline-secondary" value='{% url "cart-add" %}'onclick='addToCart("{{ service.product.service_id }}", "service")'>Add to Cart</button>
                </div>

                <div class="vendor">
                    <a href="{% url 'provider-detail-main' service.product.slug %}">
                        <img src="{{ service.product.provider.image.url }}" alt="" width="120px" height="120px">
                    </a>
                </div>
                <p>Rating: {{ service.rating}}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"4" %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}


<!-- <div class="row">
    {% for service in services %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ product.image.url }}" width="100%" height="200px">
                <div class="card-body">
                    <p class="card-text">{{ service.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'service-product' service.product.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                            <button id="AddCart" class="btn btn-sm btn-outline-secondary" value="{% url 'cart-add' %}" onclick='addToCart("{{ service.service_id }}", "service")'>Add to Cart</button>
                        </div>
                        <small class="text-muted">{{ service.product.price }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div> -->