{% extends "base.html" %}
{% load logged_in %}
{% block content %}
    {%include 'main/partials/_categories.html' %}
    <h3>{{ object.name }}</h3>
    <div class="row">
        <div class="col-md-8">
            <h5>Description: </h5>
            <p>{{ object.description }}</p>
            <h5>Price: </h5>
            <p>{{ object.price }}</p>
            <h5>Discount Price: </h5>
            <p>{{ object.discount_price }}</p>
            <h5>Date Created: </h5>
            <p>{{ object.date_created }}</p>
            <h5>Category: </h5>
            <p><a href="{% url 'category-filter' category.category.name %}">{{ category.category.name }}</a></p>
            <h5>Tags:</h5>
            <p>
                {% for tag in object.tags.all %}
                    <a href="{% url 'tag-filter' tag %}">{{ tag }}</a>,
                {% endfor %}
            </p>
            {% if similar %}
                <a href="{% url 'compare-price' object.name %}" class="btn btn-primary">View Price Comparison</a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <img src="{{ object.image.url }}" width="100%" height="200px">
            <p><b>Created by: </b><a href="{% url 'provider-detail-main' object.provider.slug %}">{{ object.provider.store_name }}</a></p>
            {% if not wishlist_item %}
            <button id="AddWishlist" class="btn btn-sm btn-outline-secondary" value='{% url "wishlist-add" %}'onclick='addToWishlist("{{ object.service_id }}", "service")'>Add to Wishlist</button> <br>
            {% endif %}
            <label for="quantity">Quantity:</label>
            <input type="number" required id="quantityInput" name="quantity" min="1" max="5" value="1">
            <button id="AddCart" class="btn btn-sm btn-outline-secondary" value='{% url "cart-add" %}'onclick='addToCart("{{ object.service_id }}", "service")'>Add to Cart</button>
        </div>
    </div>

    {% if reviews %}
        <h3>Reviews</h3>
        {% for r in reviews %}
            <ul>
                <li>{{ r.author.username}}</li>
                <li>Rating: {{ r.rating }}/5</li>
                {% if r.description %}
                <li>"{{r.description}}"</li>
                {% endif %}
                {% if r.author == request.user or request.user|has_group:"Admin" %}
                    <a href='{% url "service-review-edit" r.review_id %}'>Edit</a>
                    <a href='{% url "service-review-delete" r.review_id %}'>Delete</a>
                {% endif %}
            </ul>
        {% endfor %}
    {% endif %}

    <!-- Products here -->
    <h3>Other Services:</h3>
    {% if services %}
        {%include 'main/partials/_services.html' %}
    {% else %}
        <h4>This provider does not have any other services!</h4>
    {% endif %}
    
{% endblock content %}